button {
    
    border-radius: 2px;
    padding: 5px 25px;
    
}
.button-large {
    padding: 10px 50px;
}
.button-primary {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
}
.button-primary:hover {
    background-color: 	#000080;
    color: white;
    border: #0069D9;
}

.button-success {
    background-color: #39AA46;
    color: white;
    padding: 50px;
}
.button-success-outline {
    backgound-color:#39AA46;
    color: white;

}
.button-success:hover {
    background-color: #006400;
    color: white;
    padding: 50px;
}

/* .button-danger {
    background-color: #D52C48;
    color: white;
    padding: 50px;
}
.button-warning {
    background-color: #FAC322;
    color: white;
    padding: 50px;
} */